%header.masthead.text-center.text-white.d-flex
  .container.my-auto
    .row
      .col-lg-10.mx-auto
        %h2 子供のためのプログラミング道場
        %h1
          %strong> CoderDojo Konan Okayama
        %hr.light.my-4/
      .col-lg-10.mx-auto
        %p.mb-2
          %strong>"CoderDojo"
          とは小中高生を対象とした
          %strong>"無料プログラミングコミュニティ"
          です。
        %br
        %p.mb-5
          %strong>"アイデア"
          を形にする
          %strong>"楽しさ"
          を体感し、
          %br/
          %strong>"プロのCoder"
          から
          %strong>"アドバイス"
          や
          %strong>"刺激"
          を受け、
          %br/
          %strong>"友達"
          たちと交流しながら
          %strong>"技術"を"磨き合い"
          、
          %br/
          %strong>"未来を創るクリエイター"
          になれ！

        - unless next_event_url.nil?
          = link_to "次回の開催をCheck!", next_event_url, class: 'btn btn-primary btn-xl js-scroll-trigger text-white', target: "_new"
        - else
          = link_to "申し込みページは只今準備中です！", "#{root_url}#page-top", class: 'btn btn-disabled btn-xl border border-primary js-scroll-trigger text-white'
%section#about.bg-primary.p-5
  .container
    .row
      .col-lg-8.mx-auto.text-center
        %h2.section-heading.text-white What's the CoderDojo? - CoderDojo とは
        %hr.light.my-4/
        %p.mb-4.text-white
          CoderDojo は7〜17歳の子どもを対象にした無料で参加できるプログラミング道場(サークル)です。
          %br/
          2011年にアイルランドで始まり、世界では70カ国・1,200以上の道場、
          %br/
          日本では全国に84以上の道場があります。(2017/5/27現在)
        %p.mb-4.text-white
          各地のCoderDojoは、それぞれの有志がボランティアで運営していて、
          %br/
          CoderDojoでは、Ninja同士（参加している子供をNinjaといいます。）で教えあったり、
          %br/
          わからないことがあれば、現役プログラマーを中心としたメンターさんに質問したりできます。
        - unless next_event_url.nil?
          = link_to "次回の開催をCheck!", next_event_url, class: 'btn btn-light btn-xl js-scroll-trigger', target: "_new"
        - else
          = link_to "申し込みページは只今準備中です！", "#{root_url}#page-top", class: 'btn btn-disabled border border-white btn-xl js-scroll-trigger text-white'
%section#thinking-together.bg-dark.p-3
  .container
    .row
      .col-lg-8.mx-auto.p-3.my-3
        %img.img-fluid{:alt => "開催風景 1", :src => "#{asset_path "index/introduction-image/dojo-image-06.jpg"}"}/
      .col-lg-8.mx-auto.my-3.text-center
        %h2.section-heading Thinking together - 一緒になって考える
        %hr.light.my-4/
        %p.mb-4
          CoderDojo 岡山 岡南 は、みんなが同じことをするのではなく、
          %br/
          それぞれのやりたいこと・作りたいものに対して、メンターが同じ目線で、
          %br/
          一緒になって考えてくれ、
          %br/
          そしてアドバイスしてくれる場所です。
        %p.mb-4
          そのため、特にカリキュラムや、課題などは無く、
          %br/
          各自がテキストを持ってきたり、作りたいものを作ったり、
          %br/
          %a{href: 'https://coderdojo.jp/kata/', target: '_new'} CoderDojo Kata
          などに掲載されているテキストをやったりもしています。
          %br/
          とても自由な雰囲気で、そして楽しみながらやることに重点を置いているのです。
%section#share-what-you-made.bg-white.p-3
  .container
    .row
      .col-lg-8.mx-auto.p-3.my-3
        %img.img-fluid{:alt => "開催風景 2", :src => "#{asset_path "index/introduction-image/dojo-image-07.png"}"}/
      .col-lg-8.mx-auto.my-3.text-center
        %h2.section-heading
          Share what you made
          %br - 作ったものを共有する
        %hr.my-4/
        %p.mb-4
          CoderDojo では、必ず会の終わりに発表会があります。
          %br/
          そこでは、その日に作った作品や、学んだことなどを思う存分に発表することができます。
          %br/
          素晴らしい箇所には拍手や、「すごい！」などの声があがり、やる気が上がります。
          %br/
          また、直した方が良い箇所や、悩んでいる所についても、
          %br/
          メンターや他のNinjaが一緒に考えたりしてくれます。
        %p.mb-4
          もちろん、これは Ninja だけが楽しむのではありません。
          %br/
          参加しているメンターも、時には目を見張るような、
          %br/
          素晴らしいアイデアや工夫をした作品に出会う時があります。
          %br/
          そういう時は、データを持ち帰って研究するなど、メンター自身も楽しんでいるのです。
        %p.mb-4
          このように、Ninja - メンター と双方向で楽しめるのが、CoderDojo で、
          %br/
          メンターの楽しんでいる様子を見て、また Ninja も楽しむようになるのです。

%section#learn-with-each-other.bg-dark.p-3
  .container
    .row
      .col-lg-8.mx-auto.p-3.my-3
        %img.img-fluid{:alt => "開催風景 3", :src => "#{asset_path "index/introduction-image/dojo-image-01.jpg"}"}/
      .col-lg-8.mx-auto.my-3.text-center
        %h2.section-heading
          Learn with each other and co-polish
          %br - 共に学び、共に磨く
        %hr.my-4/
        %p.mb-4
          それぞれが違うことをやっているからと言って、
          %br/
          全くもって交流しないというわけではありません。
        %p.mb-4
          自分も、他人も、それぞれがお互いにきちんと尊重し、
          %br/
          同じことをやっているNinja同士、互いにそのやり方を教えあったり、
          %br/
          また別のことをやっていたとしても、そのNinjaに関心を持ち、
          %br/
          積極的に交流ができ、どんどん知見や関係を深め、広めることができる。
        %p.mb-4
          CoderDojo 岡山 岡南 運営一同 は、そういう場でありたいと願っております。
        %p.mb-4
          中には全くもって初対面だったのに、Dojoを通し、仲良くなったNinja達も居ます。
          %br/
          彼らは互いに切磋琢磨し、めきめきと上達してきているのです。

%section#slides.bg-white
  .container
    .row.justify-content-center
      .col-lg-12.text-center
        %h2.section-heading 当日のながれのスライド (第15回の内容)
        %h6.section-heading 当日の具体的な流れと様子についてわかるかと思います！
        %hr.my-4/
      .col-lg-8
        %script.speakerdeck-embed{:async => "", "data-id" => "0380a67c40b14d4085855919e687306a", "data-ratio" => "1.77777777777778", :src => "//speakerdeck.com/assets/embed.js"}

%section#language.bg-dark
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading CoderDojo 岡山 岡南 での主な言語
        %h6.section-heading あくまで目安であって、他の言語でも大歓迎です！
        %hr.my-4/
  .container
    .row
      .col-lg-3.col-md-6.text-center
        .service-box.mt-5.mx-auto
          %img.mb-3.sr-icons.img-fluid{:alt => "Scratch Cat", :src => "#{asset_path "index/scratch-cat.png"}"}/
          %h4.mb-3 Scratch
      .col-lg-3.col-md-6.text-center
        .service-box.mt-5.mx-auto
          %img.mb-3.sr-icons.img-fluid{:alt => "Java Logo", :src => "#{asset_path "index/java-original.png"}"}/
          %h4.mb-3 Java
      .col-lg-3.col-md-6.text-center
        .service-box.mt-5.mx-auto
          %img.mb-3.sr-icons.img-fluid{:alt => "Web系言語", :src => "#{asset_path "index/web-lang.png"}"}/
          %h4.mb-3 HTML/CSS/JavaScript
      .col-lg-3.col-md-6.text-center
        .service-box.mt-5.mx-auto
          %img.mb-3.sr-icons.img-fluid{:alt => "Ruby (on Rails)", :src => "#{asset_path "index/ruby-original.png"}"}/
          %h4.mb-3 Ruby(on Rails)

%section#supporters.bg-white
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Supporters
        %h6.section-heading.text-fade CoderDojo 岡山 岡南 の活動はこれらのサポータの皆様によって成り立っています！
        %hr.my-4/
  .container
    .row
      .col-lg-3.col-md-6.text-center.mx-auto
        .service-box.mt-5.mx-auto
          %img.mb-3.sr-icons.img-fluid{:alt => "Non Logo", :src => "#{asset_path "index/supporter/non-logo.png"}"}(data-toggle="tooltip" data-placement="top" title="サーバー・ドメインなどの提供")/
          %h4.mb-3 リムゲイト株式会社 様
      .col-lg-3.col-md-6.text-center.mx-auto
        .service-box.mt-5.mx-auto
          %img.mb-3.sr-icons.img-fluid{:alt => "ESA", :src => "#{asset_path "index/supporter/esa.png"}"}(data-toggle="tooltip" data-placement="top" title="ドキュメント共有サービスの提供")/
          %h4.mb-3 ESA.IO 様
      .col-lg-3.col-md-6.text-center.mx-auto
        .service-box.mt-5.mx-auto
          %img.mb-3.sr-icons.img-fluid{:alt => "さくらインターネット", :src => "#{asset_path "index/supporter/sakura-internet.png"}"}(data-toggle="tooltip" data-placement="top" title="「さくらのクラウド」の無償提供")/
          %h4.mb-3 SAKURA INTERNET INC. 様
%section#contact.bg-dark
  .container
    .row
      .col-lg-8.mx-auto.text-center
        %h2.section-heading
          %i.fa.fa-envelope-o.sr-contact.mx-3
          Contact us
        %hr.my-4/
        %p.mb-5 何か気になることがございましたら、お気軽にお問い合わせください！
    .row
      .col-lg-8.mx-auto.mw-100
        = render 'form'
    .row
      .col-lg-4.mx-auto.my-3.p-2.mw-100
        .fb-page.fb-page-style{"data-adapt-container-width" => "true", "data-hide-cover" => "false", "data-href" => "https://www.facebook.com/Coderdojo.Konan/", "data-show-facepile" => "true", "data-small-header" => "false", "data-tabs" => "timeline"}
          %blockquote.fb-xfbml-parse-ignore{:cite => "https://www.facebook.com/Coderdojo.Konan/"}
            %a{:href => "https://www.facebook.com/Coderdojo.Konan/"} CoderDojo 岡山 岡南
      .col-lg-4.mx-auto.my-3.p-2.mw-100
        .twitter-timeline-box
          %a.twitter-follow-button{"data-show-count" => "false", :href => "https://twitter.com/CoderDojo_Konan?ref_src=twsrc%5Etfw"} Follow @CoderDojo_Konan
          %a.twitter-timeline{"data-height" => "500", "data-theme" => "light", "data-width" => "340", :href => "https://twitter.com/CoderDojoKonan_?ref_src=twsrc%5Etfw"} Tweets by coderdojo_konan
