- provide(:title, '投稿一覧')
- provide(:desc, 'このサイトの投稿一覧です。')
- provide(:url, request.url)

.container
  .row
    .col-lg-12.mx-auto.my-3
      .card-columns
        - @posts.each do |post|
          = link_to post do
            .card.border.bg-white.border-light.text-center.my-4
              .card-body
                .card-date-text.text-left
                  %p.text-muted.font-italic
                    Published: #{post.published_at}
                %h4.card-title= post.title
                %hr/
                %p.card-text= truncate(md_to_html(post.body), length: 80)
                %button.btn.btn-primary
                  %p More
                  = fa_icon 'caret-square-right'

      = link_to 'New Post', new_post_path
