- provide(:title, @post.title)
- provide(:url, request.url)

%p
  %b Body:
  = markdown(@post.body).html_safe
%p
  %b Title:
  = @post.title
%p
  %b Published at:
  = @post.published_at
%p
  %b Author:
  = @post.author_id
%p
  %b Slug:
  = @post.slug
