%footer.bg-dark
  .footer-connect
    .container
      .row
        .col-lg-12.mx-auto.my-3.text-center.text-white
          .footer-social
            %h5 Social Links
            .footer-social-icons
              %a.mx-1{ target: "_new" , href: "https://twitter.com/CoderDojoKonan_", title: "Twitter" }
                = fa_icon "twitter 2x"
              %a.mx-1{ target: "_new", href: "http://facebook.com/Coderdojo.Konan", title: "Facebook" }
                = fa_icon "facebook 2x"
              %a.mx-1{ target: "_new", href: "https://www.instagram.com/coderdojo.konan.okayama", title: "Instagram" }
                = fa_icon "instagram 2x"
              %a.mx-1{ target: "_new", href: "https://github.com/CoderDojo-Konan-Okayama", title: "Github" }
                = fa_icon "github 2x"
              %a.mx-1{ target: "_new", href: "https://www.youtube.com/channel/UCRN6euxI9l10q6I-gVewVcw", title: "YouTube" }
                = fa_icon "youtube 2x"
      .row
        .col-lg-8.mx-auto.my-1.text-center.text-white
          .footer-links
            - @footer_links.each do |fotter_link|
              = link_to fotter_link[:text], fotter_link[:url], { :class => "mx-1" }
      .row
        .col-lg-12.col-lg-12.mx-auto.my-3.text-center.text-white
          %p Copyright © 2018 CoderDojo Konan Okayama
